# pandas Dataframes

### Import packages

In [30]:
import pandas as pd

### Creating a Basic Dataframe From JSON

In [47]:
# define the data as a list
data = [
    ("Dexter","Johnsons","dog","shiba inu","red sesame",1.5,35,"m",False,"both",True),
    ("Alfred","Johnsons","cat","mix","tuxedo",4,12,"m",True,"indoor",True),
    ("Petra","Smith","cat","ragdoll","calico",6,None,"f",False,"both",True),
    ("Ava","Smith","dog","mix","blk/wht",12,32,"f",True,"both",False),
    ("Schroder","Brown","cat","mix","orange",13,15,"m",False,"indoor",True),
    ("Blackbeard","Brown","bird","parrot","multi",5,3,"f",False,"indoor",),
]

# define the labels
labels = ["name","owner","type","breed","color","age","weight","gender","health issues","indoor/outboor","vaccinated"]

# create dataframe
vet_records = pd.DataFrame.from_records(data, columns=labels)

In [48]:
vet_records.head()

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outboor,vaccinated
0,Dexter,Johnsons,dog,shiba inu,red sesame,1.5,35.0,m,False,both,True
1,Alfred,Johnsons,cat,mix,tuxedo,4.0,12.0,m,True,indoor,True
2,Petra,Smith,cat,ragdoll,calico,6.0,NaN,f,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32.0,f,True,both,False
4,Schroder,Brown,cat,mix,orange,13.0,15.0,m,False,indoor,True

In [49]:
vet_records.tail()

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outboor,vaccinated
1,Alfred,Johnsons,cat,mix,tuxedo,4.0,12.0,m,True,indoor,True
2,Petra,Smith,cat,ragdoll,calico,6.0,NaN,f,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32.0,f,True,both,False
4,Schroder,Brown,cat,mix,orange,13.0,15.0,m,False,indoor,True
5,Blackbeard,Brown,bird,parrot,multi,5.0,3.0,f,False,indoor,None

In [34]:
vet_records

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outboor,vaccinated
0,Dexter,Johnsons,dog,shiba inu,red sesame,1.5,35,m,False,both,True
1,Alfred,Johnsons,cat,mix,tuxedo,4.0,12,m,True,indoor,True
2,Petra,Smith,cat,ragdoll,calico,6.0,10,f,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32,f,True,both,False
4,Schroder,Brown,cat,mix,orange,13.0,15,m,False,indoor,True
5,Blackbeard,Brown,bird,parrot,multi,5.0,3,f,False,indoor,None

In [35]:
vet_records.dtypes

name               object
owner              object
type               object
breed              object
color              object
age               float64
weight              int64
gender             object
health issues        bool
indoor/outboor     object
vaccinated         object
dtype: object

In [ ]:
vet_records.at[0, "weight"] = 34.7

In [36]:
vet_records.at[0, "weight"] = 34.7

In [37]:
vet_records

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outboor,vaccinated
0,Dexter,Johnsons,dog,shiba inu,red sesame,1.5,34,m,False,both,True
1,Alfred,Johnsons,cat,mix,tuxedo,4.0,12,m,True,indoor,True
2,Petra,Smith,cat,ragdoll,calico,6.0,10,f,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32,f,True,both,False
4,Schroder,Brown,cat,mix,orange,13.0,15,m,False,indoor,True
5,Blackbeard,Brown,bird,parrot,multi,5.0,3,f,False,indoor,None

In [38]:
vet_records.dtypes

name               object
owner              object
type               object
breed              object
color              object
age               float64
weight              int64
gender             object
health issues        bool
indoor/outboor     object
vaccinated         object
dtype: object

In [39]:
vet_records.describe()

             age     weight
count   6.000000   6.000000
mean    6.916667  17.666667
std     4.587120  12.532624
min     1.500000   3.000000
25%     4.250000  10.500000
50%     5.500000  13.500000
75%    10.500000  27.750000
max    13.000000  34.000000

In [40]:
vet_records.describe(include='all')

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outboor,vaccinated
count,6,6,6,6,6,6.000000,6.000000,6,6,6,5
unique,6,3,3,4,6,NaN,NaN,2,2,2,2
top,Ava,Smith,cat,mix,tuxedo,NaN,NaN,m,False,indoor,True
freq,1,2,3,3,1,NaN,NaN,3,4,3,4
mean,NaN,NaN,NaN,NaN,NaN,6.916667,17.666667,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,4.587120,12.532624,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,1.500000,3.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,4.250000,10.500000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,5.500000,13.500000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,10.500000,27.750000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,13.000000,34.000000,NaN,NaN,NaN,NaN

In [41]:
vet_records = vet_records.assign(age_weight=(vet_records['age']/vet_records['weight']))

In [42]:
vet_records

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outboor,vaccinated,age_weight
0,Dexter,Johnsons,dog,shiba inu,red sesame,1.5,34,m,False,both,True,0.044118
1,Alfred,Johnsons,cat,mix,tuxedo,4.0,12,m,True,indoor,True,0.333333
2,Petra,Smith,cat,ragdoll,calico,6.0,10,f,False,both,True,0.600000
3,Ava,Smith,dog,mix,blk/wht,12.0,32,f,True,both,False,0.375000
4,Schroder,Brown,cat,mix,orange,13.0,15,m,False,indoor,True,0.866667
5,Blackbeard,Brown,bird,parrot,multi,5.0,3,f,False,indoor,None,1.666667