In [1]:
import pandas as pd

In [3]:
restaurant_sales_data = pd.read_csv("./data/tips_csv.txt", header=0)

In [4]:
restaurant_sales_data.describe()

       party_size  meal_total        tip
count  500.000000  500.000000  500.00000
mean     2.604000  113.955200   17.29252
std      1.168724   78.649134   14.29027
min      1.000000    4.750000    0.36000
25%      2.000000   47.072500    6.27000
50%      2.000000  103.645000   13.12000
75%      4.000000  181.982500   24.33750
max      4.000000  271.370000   63.31000

In [5]:
restaurant_sales_data.head()

   'weekday  meal_type wait_staff  party_size  meal_total    tip
0  Saturday     Dinner     Marcia           2      100.64  16.23
1    Friday     Dinner     Marcia           2      109.84   5.99
2    Friday      Lunch        Jan           4       90.50  22.04
3    Monday     Dinner     Marcia           1       60.01   8.77
4    Monday  Breakfast        Jan           1       10.88   1.68

In [23]:
percent_tip = pd.Series(restaurant_sales_data['tip']/restaurant_sales_data['meal_total'],name='tip_percent')

In [24]:
rsd_per_tips = pd.concat([restaurant_sales_data, percent_tip], axis=1)

In [25]:
rsd_per_tips.head()

   'weekday  meal_type wait_staff  party_size  meal_total    tip  tip_percent
0  Saturday     Dinner     Marcia           2      100.64  16.23     0.161268
1    Friday     Dinner     Marcia           2      109.84   5.99     0.054534
2    Friday      Lunch        Jan           4       90.50  22.04     0.243536
3    Monday     Dinner     Marcia           1       60.01   8.77     0.146142
4    Monday  Breakfast        Jan           1       10.88   1.68     0.154412

In [37]:
rsd_per_tips[rsd_per_tips.tip_percent>=0.25].count()

'weekday       30
meal_type      30
wait_staff     30
party_size     30
meal_total     30
tip            30
tip_percent    30
dtype: int64

In [42]:
restaurant_sales_data.wait_staff.unique()

array(['Marcia', 'Jan', 'Greg', 'Bobby', 'Peter', 'Cindy'], dtype=object)

In [51]:
marcia = restaurant_sales_data[restaurant_sales_data.wait_staff=='Marcia']
jan = restaurant_sales_data[restaurant_sales_data.wait_staff=='Jan']
greg = restaurant_sales_data[restaurant_sales_data.wait_staff=='Greg']
bobby = restaurant_sales_data[restaurant_sales_data.wait_staff=='Bobby']
peter = restaurant_sales_data[restaurant_sales_data.wait_staff=='Peter']
cindy = restaurant_sales_data[restaurant_sales_data.wait_staff=='Cindy']

In [59]:
print(f"Marcia: ${marcia.tip.sum():.2f}\t Average: ${marcia.tip.mean():.2f}")
print(f"Jan: ${jan.tip.sum():.2f}\t Average: ${jan.tip.mean():.2f}")
print(f"Greg: ${greg.tip.sum():.2f}\t Average: ${greg.tip.mean():.2f}")
print(f"Bobby: ${bobby.tip.sum():.2f}\t Average: ${bobby.tip.mean():.2f}")
print(f"Peter: ${peter.tip.sum():.2f}\t Average: ${peter.tip.mean():.2f}")
print(f"Cindy: ${cindy.tip.sum():.2f}\t Average: ${cindy.tip.mean():.2f}")

Marcia: $1678.07	 Average: $14.98
Jan: $1253.88	 Average: $16.50
Greg: $2472.11	 Average: $19.31
Bobby: $935.88	 Average: $17.33
Peter: $1427.50	 Average: $16.99
Cindy: $878.82	 Average: $19.10