# Examining Server Performance at a Local Restaurant

You are operating as a freelance data scientist and have been hired by the owner of a local restaurant to help her make sense of data she has been keeping and to if there are insights that can be made about the service staff based on sales and tips.

In the cell below you take the data given to you and make it a pandas dataframe.

In [15]:
import pandas as pd
restaurant_sales_data = pd.read_csv("./tips_csv.txt", header=0)

### Insert cells below to look at the data, use head, tail and describe.

In [16]:
restaurant_sales_data.describe()

       party_size  meal_total        tip
count  500.000000  500.000000  500.00000
mean     2.604000  113.955200   17.29252
std      1.168724   78.649134   14.29027
min      1.000000    4.750000    0.36000
25%      2.000000   47.072500    6.27000
50%      2.000000  103.645000   13.12000
75%      4.000000  181.982500   24.33750
max      4.000000  271.370000   63.31000

In [17]:
restaurant_sales_data.head()

    weekday  meal_type wait_staff  party_size  meal_total    tip
0  Saturday     Dinner     Marcia           2      100.64  16.23
1    Friday     Dinner     Marcia           2      109.84   5.99
2    Friday      Lunch        Jan           4       90.50  22.04
3    Monday     Dinner     Marcia           1       60.01   8.77
4    Monday  Breakfast        Jan           1       10.88   1.68

In [18]:
percent_tip = pd.Series(restaurant_sales_data['tip']/restaurant_sales_data['meal_total'],name='tip_percent')

In [19]:
rsd_per_tips = pd.concat([restaurant_sales_data, percent_tip], axis=1)

In [20]:
rsd_per_tips.head()

    weekday  meal_type wait_staff  party_size  meal_total    tip  tip_percent
0  Saturday     Dinner     Marcia           2      100.64  16.23     0.161268
1    Friday     Dinner     Marcia           2      109.84   5.99     0.054534
2    Friday      Lunch        Jan           4       90.50  22.04     0.243536
3    Monday     Dinner     Marcia           1       60.01   8.77     0.146142
4    Monday  Breakfast        Jan           1       10.88   1.68     0.154412

In [21]:
rsd_per_tips[rsd_per_tips.tip_percent>=0.25].count()

weekday        30
meal_type      30
wait_staff     30
party_size     30
meal_total     30
tip            30
tip_percent    30
dtype: int64

In [22]:
restaurant_sales_data.wait_staff.unique()

array(['Marcia', 'Jan', 'Greg', 'Bobby', 'Peter', 'Cindy'], dtype=object)

In [23]:
marcia = restaurant_sales_data[restaurant_sales_data.wait_staff=='Marcia']
jan = restaurant_sales_data[restaurant_sales_data.wait_staff=='Jan']
greg = restaurant_sales_data[restaurant_sales_data.wait_staff=='Greg']
bobby = restaurant_sales_data[restaurant_sales_data.wait_staff=='Bobby']
peter = restaurant_sales_data[restaurant_sales_data.wait_staff=='Peter']
cindy = restaurant_sales_data[restaurant_sales_data.wait_staff=='Cindy']

In [24]:
print(f"Marcia:\t ${marcia.tip.sum():.2f}\t Average: ${marcia.tip.mean():.2f}")
print(f"Jan:\t ${jan.tip.sum():.2f}\t Average: ${jan.tip.mean():.2f}")
print(f"Greg:\t ${greg.tip.sum():.2f}\t Average: ${greg.tip.mean():.2f}")
print(f"Bobby:\t ${bobby.tip.sum():.2f}\t Average: ${bobby.tip.mean():.2f}")
print(f"Peter:\t ${peter.tip.sum():.2f}\t Average: ${peter.tip.mean():.2f}")
print(f"Cindy:\t ${cindy.tip.sum():.2f}\t Average: ${cindy.tip.mean():.2f}")

Marcia:	 $1678.07	 Average: $14.98
Jan:	 $1253.88	 Average: $16.50
Greg:	 $2472.11	 Average: $19.31
Bobby:	 $935.88	 Average: $17.33
Peter:	 $1427.50	 Average: $16.99
Cindy:	 $878.82	 Average: $19.10

In [29]:
rsd_per_tips.groupby(['weekday', 'meal_type']).tip_percent.mean()

weekday    meal_type
Friday     Breakfast    0.143763
           Dinner       0.150893
           Lunch        0.163971
Monday     Breakfast    0.170709
           Dinner       0.152518
           Lunch        0.153258
Saturday   Breakfast    0.169334
           Dinner       0.151112
           Lunch        0.153358
Sunday     Breakfast    0.149016
           Dinner       0.154644
           Lunch        0.145511
Thursday   Breakfast    0.156198
           Dinner       0.152588
Tuesday    Breakfast    0.177104
           Dinner       0.148763
           Lunch        0.096216
Wednesday  Breakfast    0.151722
           Dinner       0.174215
           Lunch        0.154244
Name: tip_percent, dtype: float64